.team{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__block-left{
    width: 570px;
    height: 400px;
    display: block;
    float: left;
    position: relative;
    background-color: #0269b3;
    padding: 49px;
    top: -40px;
    margin-bottom: 80px;
    box-sizing: border-box;
    background-image: linear-gradient(45deg, #0269b3 0%, #24628f 100%);
    margin-left: 70px;
    h2{
      color: #ffffff;
      font-family: $gilroyBold;
      font-size: 24px;
      text-transform: uppercase;
      width: 378px;
      margin-top: 0;
      margin-bottom: 30px;
    }
    p{
      margin-top: 0;
      margin-bottom: 30px;
      width: 400px;
      color: #ffffff;
      font-family: $gilroyLight;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }
  }
  &__block-right{
    width: 570px;
    height: 400px;
    display: block;
    position: absolute;
    float: left;
    right: 36px;
    top: -95px;
    cursor: pointer;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
}