.why-choose {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background: url("../img/mid-bg.png") no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  @include breakpoint(max-width 992px) {
    background: url("../img/mid-bg.png") no-repeat left center;
  }
  @include breakpoint(max-width 400px) {
    padding: 60px 0 60px;
    background-size: auto 100%;
  }
  &__absolute {
    transform: rotate(-90deg);
    position: absolute;
    left: -20px;
    top: 10px;
    color: #ffffff;
    font-family: $gilroyBold;
    font-size: 10px;
    font-weight: 600;
    line-height: 57px;
    text-transform: uppercase;
    @include breakpoint(max-width 992px) {
      display: none;
    }
    &:before {
      width: 30px;
      height: 1px;
      background-color: #e7e7e7;
      content: "";
      left: -46px;
      position: absolute;
      top: 28px;
    }
  }
  h2 {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-family: $gilroyBold;
    font-size: 36px;
    font-weight: 700;
    line-height: 57px;
    margin-top: 40px;
    margin-bottom: 70px;
    @include breakpoint(max-width 992px) {
      margin: 30px 40px;
    }
    &:before {
      content: "";
      width: 2px;
      height: 30px;
      background: #fff;
      position: absolute;
      top: -45px;
      left: 50%;
    }
  }
  h3 {
    position: relative;
    float: left;
    font-family:$gilroyBold;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    width: 50%;
    clear: both;
    padding: 0;
    @include breakpoint(max-width 992px) {
      width: 100%;
    }
  }
  p {
    position: relative;
    float: left;
    clear: both;
    width: 50%;
    font-family:$gilroyReg;
    font-size: 16px;
    color: #fff;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    @include breakpoint(max-width 992px) {
      width: 100%;
    }
    &:last-of-type {
      font-family:$gilroyBold;
      font-size: 18px;
      margin-bottom: 45px;
    }
  }
}