.why-choose {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background: url("../img/mid-bg.png") no-repeat center center;
  background-size: cover;
  &__absolute {
    transform: rotate(-90deg);
    position: absolute;
    left: -20px;
    top: 0;
    color: #ffffff;
    font-family: $gilroyBold;
    font-size: 16px;
    font-weight: 600;
    line-height: 57px;
    text-transform: uppercase;
  }
  h2 {
    text-align: center;
    color: #ffffff;
    font-family: $gilroyBold;
    font-size: 36px;
    font-weight: 700;
    line-height: 57px;
  }
}